<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 	<ConnectionString>Data Source=.\SQLEXPRESS;Initial Catalog=Northwind;User ID=xyz;User = kiril;Password=1124;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework</ConnectionString>
 	<TargetDirectoryPath>D:\BSUIR\Tapping\C#\3sem\lab\SourceDirectory</TargetDirectoryPath>
 	<TasksDirectoryPath>D:\BSUIR\Tapping\C#\3sem\lab\Tasks</TasksDirectoryPath>
 	<LogPath>D:\BSUIR\Tapping\C#\3sem\lab\log.txt</LogPath>
 	<DeleteFile>true</DeleteFile>
</Config>